<span class="post-meta">
  {{ if not .Date.IsZero }}
    {{ $lastmodstr := default (i18n "dateFormat") .Site.Params.dateformat | .Lastmod.Format }}
    {{ $datestr := default (i18n "dateFormat") .Site.Params.dateformat | .Date.Format }}
    <i class="fa fa-calendar-o"></i>&nbsp;{{ $datestr | i18n "postedOnDate"}}
    {{ if ne $datestr $lastmodstr }}
      &nbsp;{{ $lastmodstr | i18n "lastModified"  }}
    {{ end }}
  {{ end }}
  {{ if .Site.Params.readingTime }}
    {{ if not .Date.IsZero }}{{ if default .Site.Params.readingTime .Params.readingTime }} &nbsp;|&nbsp; {{ end }}{{ end }}
    {{ if default .Site.Params.readingTime .Params.readingTime }}
      <i class="fa fa-clock-o"></i>{{ i18n "readingTime"}} {{ .ReadingTime }} {{ i18n "readTime" }} ({{ .WordCount }} {{ i18n "words" }})
    {{ end }}
  {{ end }}
  {{ if .IsTranslated -}}
    {{- $sortedTranslations := sort .Translations "Site.Language.Weight" -}}
    {{- $links := apply $sortedTranslations "partial" "translation_link.html" "." -}}
    {{- $cleanLinks := apply $links "chomp" "." -}}
    {{- $linksOutput := delimit $cleanLinks (i18n "translationsSeparator") -}}
    &nbsp;&bull;&nbsp; {{ i18n "translationsLabel" }}{{ $linksOutput }}
  {{- end }}
</span>

